<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDOORS ASSET & MATERIAL TRACKING</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">

</head>
<body>
    <h1>INDOORS ASSET & MATERIAL TRACKING</h1>
    <div class="floor">
        <div class="lab1">
            <a href="lab1.html"><h2>lab1</h2></a>
        </div>
        <div class="storage"><h2>storage</h2></div>
        <div class="lab2"><h2> lab 2</h2></div>
        <div class="bathroom1"><h2>bathroom 1</h2></div>
        <div class="bathroom2"><h2>bathroom 2</h2></div>
        <div class="lab3"><h2> lab 3</h2></div>
        <div class="lab4"><h2> lab 4</h2></div>
        <div class="lobby1"></div>
        <div class="lobby2"><h2>lobby</h2></div>
        <div class="lobby3"></div>
        <div class="lab5"><h2> lab 5</h2></div>

    </div>
</body>
</html>